<section>
  <div class="head">
    Organizer: <strong>{{ date.date | async | moment: "DD.MM.YYYY" }}</strong>
    <hr />
  </div>

  <div class="main">
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span
          ><strong>{{ i + 1 }}</strong
          >{{ task.title }}</span
        >
        <button class="btn btn--primary" (click)="remove(task)">
          <i class="material-icons btn--delete"
            >delete</i
          >
        </button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="text-center">No tasks yet...</p>
    </ng-template>
  </div>
  <footer>
    <form class="text-center" (ngSubmit)="submit()" [formGroup]="form">
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#34b4eb"
        type="ball-climbing-dot"
        ></ngx-spinner
      >
      <input type="text" formControlName="title" />
      <button class="btn btn--success" [disabled]="form.invalid || isAvailable">
        Add
      </button>
    </form>
  </footer>
</section>
